@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}

/* menu button styling */
.menu-btn {
    color: crimson;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: crimson;
    font-size: 35px;
    font-weight: 600px;
    -webkit-text-stroke: 1px black;
}

.navbar .logo a span {
    color: crimson;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: crimson;;
    font-size: 22px;
    font-weight: 700;
    margin-left: 25px;
    transition: color 0.3s ease;
    -webkit-text-stroke: 1px black;

}

.navbar .menu li a:hover {
    color: #fff;
    border: 4px;
    background-color: crimson;
}

/* home section styling */

.home {
    display: flex;
    background: url("images/adrien-olichon-9zhsq3o1k60-unsplash (2).jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: crimson;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-4 {
    font-size: 40px;
    margin: 5px 0;
}

/* not working */
.home .home-content .text-3 .text-4 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color:#fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson;
    background: none;
}

/* all similar content styling code */
.about, .services, .skills, .projects, .contact, footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content, /*.services .serv-content,*/ .skills .skills-content, .projects, .contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.section .title::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* about section styling */
.about .title::after {
    content: ""
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px; 
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}



/* services section styling */
.services {
    color:#fff;
    background: #111;
    
}
.services .title::after {
    content:""
}

.services .serv-content .card {
    /*width: calc(33% - 20px);*/
    background:#111;
    text-align: center;
    margin-left: 220px;
    margin-right: 220px;
}

.services .serv-content .class {
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
}
.services .serv-content p {
    font-family: 'Ubuntu', sans-serif;
}

/*.services .serv-content .card i {
    font-size: 50px;
    font-weight: 500;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}*/

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* skills section styling */
.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.skills .skills-content .bars .info {
    font-family: 'Ubuntu', sans-serif;
}

.skills .skills-content .left p {
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}

.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: crimson;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

/* not working */
.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content:"";
    position: absolute;
    height: 100%; 
    width: 80%;
    left: 0; 
    top: 0;
    background: crimson;
}

.skills .skills-content .right .html::before {
    width: 90%;
}
.skills .skills-content .right .css::before {
    width: 80%;
}
.skills .skills-content .right .js::before {
    width: 70%;
}
.skills .skills-content .right .jsx::before {
    width: 70%;
}
.skills .skills-content .right .python::before {
    width: 70%;
}
.skills .skills-content .right .node::before {
    width: 50%;
}
.skills .skills-content .right .mysql::before {
    width: 50%;
}
.skills .skills-content .right .figma::before {
    width: 70%;
}
.skills .skills-content .right .ux::before {
    width: 90%;
}

/* projects styling start */



.projects .carousel .card img {
    height: 225 px;
    width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.projects .carousel .card .text {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.projects .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center; 
    color: white; 
    transition: all 0.3s ease;
}

.projects .carousel .card:hover {
    background: crimson;
}

.projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0; 
}
.projects .carousel .card p {
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Ubuntu', sans-serif;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
}

/* footer section styling */
footer {
    background: #111;
    padding: 20px 23px;
    color: crimson;
    text-align: center;
}

/* responsive media query start */







@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px; 
    }
}

@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content .text-4 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }

    .projects {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
    }
    /*.services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }*/
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content .text-4 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    /*.services .serv-content .card {
        width: 100%;
    }*/
    .projects {
        display: flex;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
    }
}


/* contact section styling */
.contact .contact-content .column {
    width: calc(50% - 30);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row i{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .right form .fields {
    display: flex;
}


@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .home .home-content .text-4 {
        font-size: 27px;
    }
}
}